body {
text-align: center;
background-color: rgb(141, 141, 141);
}

li {
 display: inline;

}

ul {
 list-style-type: none;
 text-align: center
}

img {
 float: left;
 max-width: 50%;
 height: auto;
 padding-left: 0;
 margin-left: 0;
 
}
