body {
text-align: center;
background-color: rgb(141, 141, 141);
}

li {
 display: inline;

}

head {
 width: 100%;
}

ul {
 list-style-type: none;
 text-align: right;
 
}

img.left {
 float: left;
 width: 50%
 height: auto;
}

img.right {
 float: right;
 width: 50%;
 height: auto;
}
