a:hover {
 color: crimson;
}

a {
 color: black;   
 text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
    font-family: myFirstFont;
    src: url('../Vulf_Mono-Italic_web.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body, .header, .list {
text-align: center;
background-color: #ededed;
margin: 0px 0px 0px 0px;
}


.heading, .headering, .list {
 background-color: #ededed;
 margin: 0 0 0 0;
 padding: 6px 0 6px 12px;
 display: absolute;
 text-align: left;
 float: left;
 width: 20%;
 font-family: 'myFirstFont', serif;
 hight: 10dh;
position: fixed;
left: 30px;
top: 10px;

}

.headering {
    top: 60px;
}.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    padding-right: 3px;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.padding {
 padding-right: 23px;
}

li {
 display: inline;
}

.list {

 width: 20%;
 text-align: center; 
 list-style-type: none;
 float: left;
 display: inline;
 background-color: #ededed;
 font-family: 'myFirstFont', serif;
 margin: 0 0 0 0;
 padding: 6px 23px 6px 0;
 position: fixed;
 left: 30px;
 top: 110px
}

ul {
 margin: 0 0 0 0;
 padding: 0 0 0 0;
}

.left {
    position: absolute;
    left:354px;
    top: 339px;
    font-family: 'myFirstFont', 'serif'; 
} 

.right {
    position: absolute;
    left: 1340px;
    top: 339px;
    font-family: 'myFirstFont', 'serif';
}



img {
    width: 70%;
    float: right;
    margin-right: 3.5%;
    margin-top: 3.5%;
}

.left, .right {
    background-color: grey;
    border: none;
    color: white;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;

 
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}



.button:hover {
    background-color: white;
    color: grey;
}

